version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: voluntariados-REMM
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin123

volumes:
  mongo_data: