<header>
    <nav class="navbar navbar-expand-md navbar-light shadow-sm custom-navbar-desktop">
        <div class="container-fluid container-xl">
            <a class="navbar-brand fw-bold" data-href="./index.html">VoluntariadoREMM</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars" id="menu-icon"></i>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav align-items-center">
                    <li class="nav-item">
                        <a class="nav-link fade-in" style="--d:100ms" data-href="./index.html">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fade-in" style="--d:100ms" data-href="./src/pages/login.html">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fade-in" style="--d:100ms" data-href="./src/pages/voluntariados.html">Voluntariado</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fade-in" style="--d:100ms" data-href="./src/pages/usuarios.html">Alta de usuario</a>
                    </li>
                    <li class="nav-item">
                        <span class="nav-link fade-in" style="--d:100ms" id="usuario-logueado">-no login-</span>
                    </li>
                    <li class="nav-item">
                        <a id="logout-link" onclick="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
