#ofertas {
    min-height: 300px;
    min-width: 100%;
}
.bg-dark-type {
    background-color: var(--color-tarjeta-peticion);
    border: 1px solid var(--color-principal);
}

.bg-light-type {
    background-color: var(--color-tarjeta-oferta);
    border: 1px solid var(--color-gris-intermedio); 
}

.bg-dark-type .text-white {
    color: var(--color-blanco);
}
.bg-light-type .text-dark {
    color: var(--color-blanco-oscuro);
}

.card-front {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 1.5rem; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-front .card-title-lg {
    font-size: var(--font-size-bg);
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 0.5rem;
}

.card-front .card-subtitle-sm {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    margin-bottom: 1rem;
    opacity: 0.8;
}

.card-front .card-text-desc {
    font-size: 0.95rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    flex-grow: 1; 
}

.card-front .card-subtitle.mt-auto {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    opacity: 0.8;
    margin-top: auto;
}

.card-back {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.bg-custom-blue {
    background-color: var(--color-principal);
    border-color: var(--color-principal);
    width: 250px;
    border-radius: 22px;
    margin-bottom: 25px;
}

.back-image-container {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border: none;
    overflow: hidden; 
}

.back-image-centered {
    max-width: 100%; 
    max-height: 90%; 
    object-fit: contain; 
    border-radius: 5px; 
}

.back-info-text-group {
    width: 100%;
    text-align: center; 
    margin-top: auto; 
    margin-bottom: 0.5rem;
    font-size: var(--font-size-sm);
    line-height: 1.4;
}

.back-info-text-group h5 {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-semi-bold);
    margin-bottom: 0.2rem;
}

.back-info-text-group p {
    font-size: var(--font-size-sm);
    opacity: 0.9;
    margin-bottom: 0;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 250px; 
    perspective: 1000px; 
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.flip-card-inner.is-flipped {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg); 
}

.repeat-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

@media (max-width: 767.98px) {
    .flip-card {
        height: 300px; 
    }

     .repeat-two {
        grid-template-columns: 1fr; 
    }
}